* text=auto eol=lf

*.sh text eol=lf
*.md text eol=lf
*.swift text eol=lf
*.h text eol=lf
*.hpp text eol=lf
*.m text eol=lf
*.mm text eol=lf
*.c text eol=lf
*.cpp text eol=lf
*.cmake text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.plist text eol=lf

*.bin -text
*.car -text
*.icns -text
*.png -text
*.jpg -text
*.jpeg -text
*.pdf -text
